.publicdash-main {
    min-height: 100vh;
    background-color: #f3f4f6; /* Equivalent to Tailwind's bg-gray-100 */
  }
  
  .publicdash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .publicdash-title {
    font-size: 1.5rem; /* text-2xl */
    font-weight: bold;
    margin-bottom: .1rem; /* mb-4 */
  }

  .publicdash-p{
    font-size: 1rem; /* text-base */; 
    margin-bottom: 1rem; /* mb-4 */
  }
  